$bgPrimario: lightblue;
$bgSecun: blue;
$colorPrimario: white;
$colorSecun: black;

.mainProd{
    color: $colorPrimario;
    &:hover{
        color: $colorSecun;
    }
}

h5{
    color: $colorSecun;
    &:hover{
        color: $colorPrimario;
    }
}

.animNav{
    color: $colorSecun;
    &:hover{
        color: $bgSecun;
    }
}

li{
    color: $colorSecun;
    &:hover{
        color: $colorPrimario;
    }
}